.footer {
    background-color: #fdfdfd;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-top: 70px;
    color: black;
    border-top: 1px solid #8B1724;
  }

  .logoSection {
    display: flex;
    align-items: center;
  }

  .x {
    font-size: 25px;
    margin-right: 10px;
    margin-left: 12px;
  }
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* padding: 0 1rem; */
}
  
  
  .bottomBar {
    /* border-top: 1px solid rgb(19, 0, 0); */
    /* margin-top: 2rem; */
    /* padding-top: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
  }
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .linksSection {
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;
    }
  
    .bottomBar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .socialIcons {
      margin-top: 1rem;
    }
  }