.footer {
  background-color: #fdfdfd;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 70px;
  color: black;
  border-top: 1px solid #8B1724;
}
  
.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.x {
  font-size: 25px;
  margin: 0 12px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}

.bottomBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 20px;
}
  
.logo {
  max-width: 100%;
  height: auto;
}
  
@media (max-width: 768px) {
  .logo {
      max-width: 40%;
  }
}
  
@media (max-width: 480px) {
  .logo {
    max-width: 40%;
  }
}